.main{
    width: 100vw;
    min-height: 100vh;
    padding: 5vw;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 120px;
}

.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

.item{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px grey;
}

.item p{
    padding: 0px 5px;
}
.item img, .item video{
    width: 100%;
    max-height: 50vh;
}

.single-item{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 20px grey;
}
.single-item img, .single-item video{
    width: 100%;
}

@media (max-width: 800px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}